html {
  background-color: lavender;
  color: 000000;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1.5;
}

a {
  position: relative;
}
embed {
  width: 250;
  height: 325;
  border-radius: 100;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  border-width: 1em;
}

img {
  height: 25em;
  width: auto;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 900;
}

h2 {
  font-size: 1.6em;
  text-align: center;
  font-style: italic;
}

p {
  font-size: 12pt;
  font-weight: bolder;
  letter-spacing: 2;
  width: 700;
  text-align: left;
}

.btn {
  height: 3em;
  width: 5em;
  color: darkgray;
  display: inline-block;
}

.footer {
  align-content: center;
  text-align: center;
  position: relative;
  padding-bottom: 0;
}

.logo {
  width: 7em;
  height: 7em;

  margin: 1em;
  border-radius: .7em;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  background-color: white;
}

.logo:hover {
  transform: scale(1.15);
  transition-duration: .34s;
  transition-timing-function: ease-in-out;
}

.wrapper {
  align-content: center;
  text-align: center;
}
