html {
  background-color: lavender;
  color: 000000;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1.5;
}

a {
  font-color: #85754d
}

.wrapper {
  align-content: center;
  text-align: center;
}

.logo {
  width: 7em;
  height: 7em;

  margin: 1em;
  border-radius: .5em;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  background-color: white;
}

.resume {
  align-items: center;

}

.logo:hover {
  transform: scale(1.15);
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

embed {
  width: 250;
  height: 325;
  border-radius: 100;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 900;
}

h2 {
  font-size: 1.6em;
  text-align: center;
  font-style: italic;
}

p {
  font-size: 12pt;
  font-weight: bolder;
  letter-spacing: 2.5;
  width: 700;
  text-align: center;
}
